body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#111827;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    color:#ef4444;
    font-size:48px;
}

button{
    padding:12px 24px;
    border:none;
    border-radius:10px;
    background:#ef4444;
    color:white;
    cursor:pointer;
    font-size:18px;
}